.progress.ajax-progress.ajax-progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  margin-right: auto;
  margin-left: auto;
  background: rgba(1, 1, 1, 0.2);
  font-size: 200%;
}

.progress.ajax-progress.ajax-progress-bar .progress__description {
  line-height: normal;
}
