{#
/**
 * @file
 * Default order template.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper.
 * - terminal: The rendered terminal fields.
 *   Use 'terminal' to print them all, or print a subset such as
 *   'terminal.hsn'. Use the following code to exclude the
 *   printing of a given field:
 *   @code
 *   {{ terminal|without('hsn') }}
 *   @endcode
 * - terminal_entity: The terminal entity.
 *
 * @ingroup themeable
 */
#}
<div{{ attributes }}>
  {{ terminal }}
</div>
